/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Lato:100,400,300,700');
/* --- pe-icon-7-stroke --- */

body {
    font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
    line-height: 1.42857143;
}

li {
    margin: 10px;
}
ul {
    display: inline-flex;
}

